<!-- / Open Graph. -->
<!-- %meta{:property => "fb:app_id", :content => "465830426818788"}/ -->
<!-- %meta{:property => "og:title", :content => "Sake Book on Poin"}/ -->
<!-- %meta{:property => "og:description", :content => "Description... All about sake I've met in my life"} -->
<!-- %meta{:property => "og:site_name", :content => "Poin"}/ -->
<!-- %meta{:property => "og:image", :content => "http://ststgc.github.io/book_webview/images/sake_001-ff92633d.jpg"}/ -->
<!-- %meta{:property => "og:type", :content => "article"}/ -->
<!-- / Twitter Cards. -->
<!-- %meta{:name => "twitter:card", :content => "photo"}/ -->
<!-- %meta{:name => "twitter:site", :content => "@poinapp"}/ -->
<!-- %meta{:name => "twitter:creator", :content => "Author's twitter handle"}/ -->
<!-- %meta{:name => "twitter:title", :content => "Sake Book on Poin", }/ -->
<!-- %meta{:name => "twitter:description", :content => "Description... Sake, happened to see in my life."}/ -->
<!-- %meta{:name => "twitter:image:src", :content => "http://ststgc.github.io/book_webview/images/big_sake_001-083dcd75.jpeg"}/ -->
<!-- %meta{:name => "twitter:domain", :content => "http://ststgc.github.io/book_webview/pages/sakebook.html"}/ -->
<!-- -# Write this down when its available. -->
<!-- -# %meta{:content => "Poin", :name => "twitter:app:name:iphone"}/ -->
<!-- -# %meta{:content => "Poin", :name => "twitter:app:name:ipad"}/ -->
<!-- -# %meta{:content => "Poin", :name => "twitter:app:name:googleplay"}/ -->
<!-- -# %meta{:content => "poin://p/94331234safwlakjg", :name => "twitter:app:url:iphone"}/ -->
<!-- -# %meta{:content => "poin://p/94331234safwlakjg", :name => "twitter:app:url:ipad"}/ -->
<!-- -# %meta{:content => "poin://p/94331234safwlakjg", :name => "twitter:app:url:googleplay"}/ -->
<!-- -# %meta{:content => "id of Poin app in the iTunes Store.", :name => "twitter:app:id:iphone"}/ -->
<!-- -# %meta{:content => "id of Poin app in the iTunes Store.", :name => "twitter:app:id:ipad"}/ -->
<!-- -# %meta{:content => "id of Poin app in the Google Play.", :name => "twitter:app:id:googleplay"}/ -->
