---
layout: l_no-header
---

.inapp--header
    .site-width
        .inner-width
            / %h1 Terms of Service
            %span Enacted September 6th, 2013
            %span M&C, Inc.

.site-width
    .inner-width
        .privacy-and-terms--container
            = partial "partials/privacy-en"



    // Partial footer
    = partial "partials/footer"

