---
layout: l_no-header
---



.site-width
    .faq--container
        %h2 Couldn't signin with Facebook?
        %h3 Why?
        %p Maybe because you have not configured Facebook on your iPhone. 
        %p You can fix this from “Settings” on your iPhone. 


        %h3 How?

        %p 1. Go back to your home screen and find “Settings” on your iPhone.
        %img{:src => "../images/faq/en/iphone-default.png", :alt => ""}/ 

        %p 2. Tap the “Settings” icon, you will see the image below.

        %img{:src => "../images/faq/en/setting-open-en.png", :alt => ""}/ 

        %p 3.  Scroll down a while and you will see Facebook icon.

        %img{:src => "../images/faq/en/setting-scroll-en.png", :alt => ""}/ 

        %p 4. Tap Facebook icon and you’ll see empty fields, “User Name” and “Password.” Enter your Facebook User Name and Password to configure Facebook with your iPhone.


        %img{:src => "../images/faq/en/facebook-empty-en.png", :alt => ""}/ 

        %p 5. Well done! Now, open your Poin app and tap “Signin Facebook” and it should work!

        %img{:src => "../images/faq/en/poin-open.png", :alt => ""}/ 

        / %span
        /     \- Still couldn’t signin? You may need to allow Poin app to use your Facebook account in “Setting” 
        /     %a{:href => "/"}
        /         [Find out more]



