---
layout: l_no-header
---

.inapp--header
    .site-width
        .inner-width
            %h1 Terms of Service
            %span Last Updated: May 10th, 2013


.site-width
    .inner-width
        .privacy-and-terms--container
            %p Will be filled untill September 17th.
            .privacy-and-terms--card
                %h3 M&C, Inc.
                %span Rhizome Azabu Juban 6F. 3-2-7 Azabu Juban, Minato-ku, Tokyo, 106-0045, Japan
                %a.contact{:href => "mailto:privacy@themandc.com"} privacy@themandc.com


    // Partial footer
    = partial "partials/footer"

