---
layout: l_landing
---

%header.about--header 
    .site-width
        %h1.hero__title 
            Poin is a new place to write and organize your 
            %a.draw-underline{:href => "#books"}  "How It Was." 


        .about--header__info
            .about--header--screenshot
                .about--header--screenshot__half
                    %img.about--header--screenshot__slideInUp{:src => "../images/about/iphone-black.png", :alt => ""}/ 
            .about--footer__download
                %p Poin will be available on the app store.
                / %a.button{:href => ""}  Download Poin
                .button.button--disable We're preparing  

.about--takeaways


    %section#books.about--takeaway.about--takeaway__white-bg
        .about--takeaway__inner
            %h2.about--takeaway__title
                “Books” = Collections of meaningful “How It Was."
            .about--takeaway__detail
                %p Are you a sake fanatic? Do you love beauty, and know lots about nail art and cosmetics? Or maybe you just enjoy finding tasty local restaurants on weekends?  Poin is made for everyone with passionate hobbies, or just lots of curiosity.  Whatever you’re into, start a “book!”  It’s a fun way to build collections and communicate with people who share your interest. 


        .about--takeaway--books.bookstand--full-width__sheet
            .bookstand--full-width.bookstand--full-width__gradient-edge
                .bookstand--full-width__scroll-it
                .bookstand--full-width__container
                    .book--item__full
                        %a.book-cover__book-inner{:href => "../pages/nyc.html"}
                            .book-cover__book-title 家庭料理ブック
                            .img--holder.book-cover__makeup
                                %img{:src => "../images/placeholder/loader_book.gif", "data-src" => "../images/about/matsumoto_us.jpeg", :alt => "Brooklyn"}/

                        %a.book--item--full--author{:href => ""} 
                            .book--item--full--author__icon{:style => "background-image: url(../images/usericon/a.jpeg);"}
                            .book--item--full--author__job
                                %span Wine Journalist
                            .book--item--full--author__name
                                %span Nao Kohara asdfasdf

                    .book--item__full
                        %a.book-cover__book-inner{:href => "../pages/nyc.html"}
                            .book-cover__book-title 家庭料理ブック
                            .img--holder.book-cover__makeup
                                %img{:src => "../images/placeholder/loader_book.gif", "data-src" => "../images/about/ny.jpeg", :alt => "Brooklyn"}/

                        %a.book--item--full--author{:href => ""} 
                            .book--item--full--author__icon{:style => "background-image: url(../images/usericon/b.jpeg);"}
                            .book--item--full--author__job
                                %span Wine Journalist asdfasf
                            .book--item--full--author__name
                                %span Nao Kohara



                    .book--item__full
                        %a.book-cover__book-inner{:href => "../pages/nyc.html"}
                            .book-cover__book-title 家庭料理ブック
                            .img--holder.book-cover__makeup
                                %img{:src => "../images/placeholder/loader_book.gif", "data-src" => "../images/about/movie.jpeg", :alt => "Brooklyn"}/

                        %a.book--item--full--author{:href => ""} 
                            .book--item--full--author__icon{:style => "background-image: url(../images/usericon/c.jpeg);"}
                            .book--item--full--author__job
                                %span Wine Journalist
                            .book--item--full--author__name
                                %span Nao Kohara



                    .book--item__full
                        %a.book-cover__book-inner{:href => "../pages/nyc.html"}
                            .book-cover__book-title 家庭料理ブック
                            .img--holder.book-cover__makeup
                                %img{:src => "../images/placeholder/loader_book.gif", "data-src" => "../images/about/george.jpeg", :alt => "Brooklyn"}/

                        %a.book--item--full--author{:href => ""} 
                            .book--item--full--author__icon{:style => "background-image: url(../images/usericon/d.jpeg);"}
                            .book--item--full--author__job
                                %span Wine Journalist
                            .book--item--full--author__name
                                %span Nao Kohara




                    .book--item__full
                        %a.book-cover__book-inner{:href => "../pages/nyc.html"}
                            .book-cover__book-title 家庭料理ブック
                            .img--holder.book-cover__makeup
                                %img{:src => "../images/placeholder/loader_book.gif", "data-src" => "../images/about/cook.jpeg", :alt => "Brooklyn"}/

                        %a.book--item--full--author{:href => ""} 
                            .book--item--full--author__icon{:style => "background-image: url(../images/usericon/e.jpeg);"}
                            .book--item--full--author__job
                                %span Wine Journalist
                            .book--item--full--author__name
                                %span Nao Kohara



                    .book--item__full
                        %a.book-cover__book-inner{:href => "../pages/nyc.html"}
                            .book-cover__book-title 家庭料理ブック
                            .img--holder.book-cover__makeup
                                %img{:src => "../images/placeholder/loader_book.gif", "data-src" => "../images/about/matsumoto_us.jpeg", :alt => "Brooklyn"}/

                        %a.book--item--full--author{:href => ""} 
                            .book--item--full--author__icon{:style => "background-image: url(../images/usericon/nao.jpg);"}
                            .book--item--full--author__job
                                %span Wine Journalist
                            .book--item--full--author__name
                                %span Nao Kohara




                    .book--item__full
                        %a.book-cover__book-inner{:href => "../pages/nyc.html"}
                            .book-cover__book-title 家庭料理ブック
                            .img--holder.book-cover__makeup
                                %img{:src => "../images/placeholder/loader_book.gif", "data-src" => "../images/about/nail.jpeg", :alt => "Brooklyn"}/

                        %a.book--item--full--author{:href => ""} 
                            .book--item--full--author__icon{:style => "background-image: url(../images/usericon/nao.jpg);"}
                            .book--item--full--author__job
                                %span Wine Journalist
                            .book--item--full--author__name
                                %span Nao Kohara

    %section.about--takeaway
        .about--takeaway__inner

            %h2.about--takeaway__title 
                Photo + points
                %br/ 
                \= "How was it?"
            .about--takeaway__detail
                %p “Writing” is easy on Poin with photos & points.  Because a picture is worth a thousand words, and numbers transcend language, anyone can capture things & moments beautifully, with context:

                
                .about--takeaway--pages__try-click


                .about--takeaway--pages.about--takeaway--pages__top
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/362454704326836266", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/brooklyn.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 100
                                .about--takeaway--page__feeling good!
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/361674601523081262", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/nail-2.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 75
                                .about--takeaway--page__feeling good!
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/361750240343146508", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/tomato.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 83
                                .about--takeaway--page__feeling good!
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/361750240343146508", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/prada.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 24
                                .about--takeaway--page__feeling good!
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/361750240343146508", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/niku.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 90
                                .about--takeaway--page__feeling good!
                .about--takeaway--pages.about--takeaway--pages__bottom
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/362454704326836266", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/penguin-2.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 32
                                .about--takeaway--page__feeling good!
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/362454704326836266", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/jikon.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 32
                                .about--takeaway--page__feeling good!
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/361750240343146508", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/isamu.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 89
                                .about--takeaway--page__feeling good!
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/361674601523081262", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/hijiki.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 64
                                .about--takeaway--page__feeling good! 
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/361750240343146508", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/coppora.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 55
                                .about--takeaway--page__feeling good!
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/361750240343146508", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/lion.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 10
                                .about--takeaway--page__feeling good!


                %p “How it was” are like a pointers, or tips about things - products, places - anything you experience.


    %section.about--takeaway.about--takeaway__white-bg
        .about--takeaway__inner
            %h2.about--takeaway__title Story of Poin
            .about--takeaway__detail
                %p Our inspiration for Poin comes from everyday life in Tokyo, where over 160,000 restaurants (close to 10 times more than in New York,) millions of products, and thousands of shops and brands, all compete for our attention using everything from traditional advertising to social media to feed us information, non-stop. 
 
                %p With seemingly infinite choices, we wanted a “filter” to make discovery simple.

                .tips-area
                    %p
                        And, we realized that
                        .tips オタク
                        are all around us to help us "filter" the world:

                    .tips-bubble
                        .tips-bubble__title Otaku
                        .tips-bubble__subtitle [おたく/オタク] noun
                        .tips-bubble__detail
                            Otaku is a Japanese term used to refer to people who obsessive interests.
                        .tips-bubble__source
                            by
                            %a{:href => "http://en.wikipedia.org/wiki/Otaku", :target => "_blank"} wikipedia

                    

                %ul.otaku-lists
                    %li A friend infatuated with wine. 
                    %li A colleague passionate about art and museums. 
                    %li Classmates with terrific tastes in fashion. 

                %p We’re all “otaku” of something: from hobbies we’re obsessively into, to little daily things we experience firsthand. 

                %p So, we started building Poin, a tool to make your interests useful & beautiful, and to see the world through the lens of people’s interests. 

                %p Start a book. Write what you’re interested in. And make someone’s life better.

                %p Follow your interests.

                %p Poin


                .about--legal__container
                    %a{:href => "privacy.html"} Privacy Policy
                    %a{:href => "terms.html"} Terms of Service  


.about--footer
    .about--footer__inner
        .about--header__info
            .about--header--screenshot
                .about--header--screenshot__half
                    %img{:src => "../images/about/iphone-white.png", :alt => ""}/ 
            .about--footer__download
                %p Poin will be available on the app store.
                / %a.button{:href => ""}  Download Poin
                .button.button--disable We're preparing  

    / .poin-screenshot
    /     .poin-screenshot__half
    /         %img{:src => "../images/about/screenshot.png", :alt => ""}/ 
    / .about--footer__download
    /     %p Poin is now available on the app store.
    /     %a.button{:href => ""}  Download Poin