---
layout: l_landing
---

%header.about--header 
    .site-width
        %h1.hero__title 
            日々流されていくあなたの
            %a.draw-underline{:href => "#books"}  「どうだった？」
            は、消えていくには惜しい情報でした 


        .about--header__info
            .about--header--screenshot
                .about--header--screenshot__half
                    %img.about--header--screenshot__slideInUp{:src => "../images/about/iphone-black.png", :alt => ""}/ 
            .about--footer__download
                %p Poin will be available on the app store.
                / %a.button{:href => ""}  Download Poin
                .button.button--disable We're preparing  

.about--takeaways


    %section#books.about--takeaway.about--takeaway__white-bg
        .about--takeaway__inner
            %h2.about--takeaway__title
                「ブック」をつくろう！
                / 「ブック」＝「どうだった？」のコレクション
                / 「ブック」＝あなただけの「どうだった？」の集まり
                / 「ブック」は、あなただけの情報の詰まった「どうだった？」の集まりです
            .about--takeaway__detail
                %p あなたは日本酒好きですか？もしかしたら、美容について詳しく、ネイルやコスメに関しては右に出る人はいないかもしれません。はたまた、週末に誰も知らない穴場のレストランを見つけたのかもしれません。Poinはまさに、アツい趣味を持った人や、好奇心の旺盛な人のためにつくられました。
                %p まずは「ブック」をつくってみましょう！「ブック」はあなたの好奇心を一箇所に集めたコレクションです。簡単、キレイ、楽しく想いのままにあなたの興味を集められます。たくさん集めると、同じ趣味を持った人とつながることができるかもしれません。


        .about--takeaway--books.bookstand--full-width__sheet
            .bookstand--full-width.bookstand--full-width__gradient-edge
                .bookstand--full-width__scroll-it
                .bookstand--full-width__container
                    .book--item__full
                        %a.book-cover__book-inner{:href => "../pages/nyc.html"}
                            .book-cover__book-title 家庭料理ブック
                            .img--holder.book-cover__makeup
                                %img{:src => "../images/placeholder/loader_book.gif", "data-src" => "../images/about/matsumoto_us.jpeg", :alt => "Brooklyn"}/

                        %a.book--item--full--author{:href => ""} 
                            .book--item--full--author__icon{:style => "background-image: url(../images/usericon/a.jpeg);"}
                            .book--item--full--author__job
                                %span Wine Journalist
                            .book--item--full--author__name
                                %span Nao Kohara asdfasdf

                    .book--item__full
                        %a.book-cover__book-inner{:href => "../pages/nyc.html"}
                            .book-cover__book-title 家庭料理ブック
                            .img--holder.book-cover__makeup
                                %img{:src => "../images/placeholder/loader_book.gif", "data-src" => "../images/about/ny.jpeg", :alt => "Brooklyn"}/

                        %a.book--item--full--author{:href => ""} 
                            .book--item--full--author__icon{:style => "background-image: url(../images/usericon/b.jpeg);"}
                            .book--item--full--author__job
                                %span Wine Journalist asdfasf
                            .book--item--full--author__name
                                %span Nao Kohara



                    .book--item__full
                        %a.book-cover__book-inner{:href => "../pages/nyc.html"}
                            .book-cover__book-title 家庭料理ブック
                            .img--holder.book-cover__makeup
                                %img{:src => "../images/placeholder/loader_book.gif", "data-src" => "../images/about/movie.jpeg", :alt => "Brooklyn"}/

                        %a.book--item--full--author{:href => ""} 
                            .book--item--full--author__icon{:style => "background-image: url(../images/usericon/c.jpeg);"}
                            .book--item--full--author__job
                                %span Wine Journalist
                            .book--item--full--author__name
                                %span Nao Kohara



                    .book--item__full
                        %a.book-cover__book-inner{:href => "../pages/nyc.html"}
                            .book-cover__book-title 家庭料理ブック
                            .img--holder.book-cover__makeup
                                %img{:src => "../images/placeholder/loader_book.gif", "data-src" => "../images/about/george.jpeg", :alt => "Brooklyn"}/

                        %a.book--item--full--author{:href => ""} 
                            .book--item--full--author__icon{:style => "background-image: url(../images/usericon/d.jpeg);"}
                            .book--item--full--author__job
                                %span Wine Journalist
                            .book--item--full--author__name
                                %span Nao Kohara




                    .book--item__full
                        %a.book-cover__book-inner{:href => "../pages/nyc.html"}
                            .book-cover__book-title 家庭料理ブック
                            .img--holder.book-cover__makeup
                                %img{:src => "../images/placeholder/loader_book.gif", "data-src" => "../images/about/cook.jpeg", :alt => "Brooklyn"}/

                        %a.book--item--full--author{:href => ""} 
                            .book--item--full--author__icon{:style => "background-image: url(../images/usericon/e.jpeg);"}
                            .book--item--full--author__job
                                %span Wine Journalist
                            .book--item--full--author__name
                                %span Nao Kohara



                    .book--item__full
                        %a.book-cover__book-inner{:href => "../pages/nyc.html"}
                            .book-cover__book-title 家庭料理ブック
                            .img--holder.book-cover__makeup
                                %img{:src => "../images/placeholder/loader_book.gif", "data-src" => "../images/about/matsumoto_us.jpeg", :alt => "Brooklyn"}/

                        %a.book--item--full--author{:href => ""} 
                            .book--item--full--author__icon{:style => "background-image: url(../images/usericon/nao.jpg);"}
                            .book--item--full--author__job
                                %span Wine Journalist
                            .book--item--full--author__name
                                %span Nao Kohara




                    .book--item__full
                        %a.book-cover__book-inner{:href => "../pages/nyc.html"}
                            .book-cover__book-title 家庭料理ブック
                            .img--holder.book-cover__makeup
                                %img{:src => "../images/placeholder/loader_book.gif", "data-src" => "../images/about/nail.jpeg", :alt => "Brooklyn"}/

                        %a.book--item--full--author{:href => ""} 
                            .book--item--full--author__icon{:style => "background-image: url(../images/usericon/nao.jpg);"}
                            .book--item--full--author__job
                                %span Wine Journalist
                            .book--item--full--author__name
                                %span Nao Kohara

    %section.about--takeaway
        .about--takeaway__inner

            %h2.about--takeaway__title 
                「どうだった？」の表現は、
                %br/ 
                写真と数字だけ。
            .about--takeaway__detail
                %p 週末観た映画の感想、音楽を聴いた感想、初めて行ったレストランの感想。あなたの体験した「どうだった？」をいざ言語化するとなると、じつはあまり簡単ではないことに気がつきます。しかしPoinでは、考えることなく感じたままに、iPhoneで撮った写真と、100から-100の点数で美しく表現できます。

                
                .about--takeaway--pages__try-click


                .about--takeaway--pages.about--takeaway--pages__top
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/362454704326836266", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/brooklyn.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 100
                                .about--takeaway--page__feeling good!
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/361674601523081262", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/nail-2.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 75
                                .about--takeaway--page__feeling good!
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/361750240343146508", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/tomato.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 83
                                .about--takeaway--page__feeling good!
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/361750240343146508", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/prada.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 24
                                .about--takeaway--page__feeling good!
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/361750240343146508", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/niku.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 90
                                .about--takeaway--page__feeling good!
                .about--takeaway--pages.about--takeaway--pages__bottom
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/362454704326836266", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/penguin-2.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 32
                                .about--takeaway--page__feeling good!
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/362454704326836266", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/jikon.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 32
                                .about--takeaway--page__feeling good!
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/361750240343146508", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/isamu.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 89
                                .about--takeaway--page__feeling good!
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/361674601523081262", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/hijiki.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 64
                                .about--takeaway--page__feeling good! 
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/361750240343146508", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/coppora.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 55
                                .about--takeaway--page__feeling good!
                    .about--takeaway--page
                        %a{:href => "http://api.poin.co/page/361750240343146508", :target => "_blank"} 
                            .img--holder
                                %img{:src => "../images/placeholder/loader_page.gif", "data-src" => "../images/about/lion.jpeg", :alt => "Brooklyn"}/ 
                            .about--takeaway--page__howwasit
                                .about--takeaway--page__num 10
                                .about--takeaway--page__feeling good!


                %p あなたの「どうだった？」は、自分にとってのメモから、友達にとっての「オススメ(*1)」であったり、信用のおける「レビュー」に変わります。



    %section.about--takeaway.about--takeaway__white-bg
        .about--takeaway__inner
            %h2.about--takeaway__title Poinのストーリー
            .about--takeaway__detail
                %p Poinは、せわしなく大量に消費され、流れ消えていく情報で溢れかえる「東京」でつくられました。私たちの周りには、数えきれない製品の山、毎日目に触れるたくさんのブランドやお店で満たされています。東京のレストランの数は、160,000店舗を超え、それはニューヨークの約10倍だといいます。それら全てが、インターネットや雑誌などのあらゆる手段を使って、私たちの気を引くため、絶えず情報を発信しています。
 
                %p とても選びきれない選択肢の中、私たちに必要とされているのは、情報の良し悪しを振り分けてくれる「フィルター」です。たくさんの選択肢の中から、損をしない判断をするためには、質のいいフィルターを通して、私たちは簡単に信用のおける情報を発見できるようにならなくてはいけません。

                .tips-area
                    %p
                        そんな時、ふとまわりを見渡すと、私たちは「オタク」の存在に気づきます。オタクと言ってもアニメやフィギュアなどの狭い意味ではありません。私たちはオタクを「ある対象に対して、好奇心の特別旺盛な人」という意味で考えています。
                    
                    %p 例えばあなたのまわりにもこんな人がいるはずです。

                %ul.otaku-lists
                    %li ワインが大好きなワインオタクの友達
                    %li アートや美術館を見つけると目がない会社の同僚 
                    %li ファッションテイストがピカイチなファッショニスタのクラスメート


                %p 始めたら時間を忘れてしまうぐらい大好きな趣味から、日常生活で出会うちょっとした好奇心まで。私たちはみんな、なにかしらの形で「オタク」なのではないかと思います。


                %p 「オタク」のフィルターを通して、そんな想いのもと、Poinはつくられました。Poinは、あなたの好奇心を、キレイで、誰にとっても便利なカタチに変える道具です。あなたのつくった「どうだった？」を通して見る世界は、きっと他のメディアや特集よりも便利です。（？）

                %p そのために、まずは「ブック」をつくりましょう。そこにあなただけの「どうだった？」を書きためてみてください。あなたの体験は、誰かの役に立つ、流されてはいけない大切な情報です。

                %p Follow your interests.

                %p Poin


                .about--legal__container
                    %a{:href => "privacy.html"} Privacy Policy
                    %a{:href => "terms.html"} Terms of Service  


.about--footer
    .about--footer__inner
        .about--header__info
            .about--header--screenshot
                .about--header--screenshot__half
                    %img{:src => "../images/about/iphone-white.png", :alt => ""}/ 
            .about--footer__download
                %p Poin will be available on the app store.
                / %a.button{:href => ""}  Download Poin
                .button.button--disable We're preparing  

    / .poin-screenshot
    /     .poin-screenshot__half
    /         %img{:src => "../images/about/screenshot.png", :alt => ""}/ 
    / .about--footer__download
    /     %p Poin is now available on the app store.
    /     %a.button{:href => ""}  Download Poin