---
layout: l_landing
---
 
.site-width
    .inner-width

        .lp--feedback
            .lp--feedback__header
                %h1 Feedback
                %span We are hearing.
            %form#form1.wufoo.topLabel.page{:action => "https://poin.wufoo.com/forms/z7x4m1/#public", :autocomplete => "off", :enctype => "multipart/form-data", :method => "post", :name => "form1", :novalidate => ""}
                %ul.feedback--list
                    %li#foli1.notranslate
                        %label#title1.desc.feedback__label{:for => "Field1"}
                            Your Name
                        %div
                            %input#Field1.feedback__input{:maxlength => "255", :name => "Field1", :onkeyup => "", :tabindex => "1", :type => "text", :value => ""}/
                    %li#foli2.notranslate
                        %label#title2.desc.feedback__label{:for => "Field2"}
                            Your Email Address
                        %div
                            %input#Field2.feedback__input{:maxlength => "255", :name => "Field2", :onkeyup => "", :tabindex => "2", :type => "text", :value => ""}/
                    %li#foli106.notranslate
                        %fieldset.feedback--fieldset
                            %label#title3.desc.feedback__label
                                Type of your problem
                                %span#req_3.req *
                            %div
                                %input#radioDefault_106{:name => "Field106", :type => "hidden", :value => ""}/
                                %span.feedback__choice--wrap
                                    %input#Field106_0.field.radio{:name => "Field106", :required => "", :tabindex => "3", :type => "radio", :value => "Spam or Abuse"}/
                                    %label.choice.feedback__choice--label{:for => "Field106_0"}
                                        Spam or Abuse
                                %span.feedback__choice--wrap
                                    %input#Field106_1.field.radio{:checked => "checked", :name => "Field106", :required => "", :tabindex => "4", :type => "radio", :value => "Broken Features"}/
                                    %label.choice.feedback__choice--label{:for => "Field106_1"}
                                        Broken Features
                    %li#foli107.notranslate
                        %label#title107.feedback__label{:for => "Field107"}
                            Tell us about it
                            %span#req_107.req *
                        %div
                            %textarea#Field107.feedback__input{:cols => "50", :name => "Field107", :onkeyup => "", :required => "", :rows => "10", :spellcheck => "true", :tabindex => "5"}
                    %li.buttons
                        %div
                            %input#saveForm.feedback--button__submit.button{:name => "saveForm", :type => "submit", :value => "Submit"}/
                    %li.is-hidden
                        %label{:for => "comment"} Do Not Fill This Out
                        %textarea#comment{:cols => "1", :name => "comment", :rows => "1"}
                        %input#idstamp{:name => "idstamp", :type => "hidden", :value => "sNmWaImW2nUOfxr2d/Tl0/XNksCz7sKXL79+4VJd8bM="}/


