---
layout: l_book
title: Book
---

.profile--container
    
    // Partial download header for mobile and tablet viewport
    = partial "partials/download-header-palm"
    
    %header.book-cover-giant__header
        .book-cover-giant__wrapper
            .book-cover-giant__bg.js-load__bg{:src => "../images/loader_page.gif", "width" => "100%", "data-bg" => "../images/matsumoto_s.jpeg", :alt => "Brooklyn"}

            .book-cover-giant__overlay
            .book-cover-giant__container

                .book-cover-giant__info
                    %h1.book-cover-giant__title
                        Nightmares in NYC
                    %p.book-cover-giant__description
                        BE AWARE with an Extremist and fanatic because they might be suffering from Obession (an idea or thought that continually preoccupies or intrudes on a person's mind)

                        Anything extreme either too much or less is Danger for Humanity!!

                .book--stats
                    .book--stats--pages
                        .book--stats--pages__num
                            200
                        .book--stats--pages__title
                            Pages
                    .book--stats--following
                        .book--stats--following__num
                            35
                        .book--stats--following__title
                            Doodles
                    .book--stats--followers
                        .book--stats--followers__num
                            98
                        .book--stats--followers__title
                            Subscribers
    %section.book--pages

        // Partial download header for mobile and tablet viewport
        = partial "partials/download-header-lap"

        .book--pages__container
            .book--author
                %a.book--author__icon{:href => "../pages/nao.html"} 
                    %img{:src => "../images/usericon/shota.jpg", :alt => "Shota Setoguchi"}/ 
                .book--author__info
                    %span.book--author__title
                        Written by
                    .book-author__name
                        %a.book--author__owner{:href => "../pages/nao.html"} 
                            Shota Setoguchi
                        %span.book--author__contributors
                            + 3 Contributors

            // Partial share buttons
            = partial "partials/share-buttons"


            .book--mypages__container

                .book--page__item
                    %a.img--holder{:href => "brooklyn.html"} 
                        %img.book--page__image{:src => "../images/loader_page.gif", "data-src" => "../images/about/tomato.jpeg", :alt => "Brooklyn"}/ 

                    %a.book--page__detail{:href => "brooklyn.html"}
                        .book--page__title noguchi museum
                        .book--page__num 100



                .book--page__item
                    %a.img--holder{:href => "brooklyn.html"} 
                        %img.book--page__image{:src => "../images/loader_page.gif", "data-src" => "../images/about/tomato.jpeg", :alt => "Brooklyn"}/ 

                    %a.book--page__detail{:href => "brooklyn.html"} 
                        .book--page__title noguchi museum asdfasdfasfa
                        .book--page__num 100



                .book--page__item
                    %a.img--holder{:href => "brooklyn.html"} 
                        %img.book--page__image{:src => "../images/loader_page.gif", "data-src" => "../images/about/tomato.jpeg", :alt => "Brooklyn"}/ 

                    %a.book--page__detail{:href => "brooklyn.html"} 
                        .book--page__title noguchi museum
                        .book--page__num 100



                .book--page__item
                    %a.img--holder{:href => "brooklyn.html"} 
                        %img.book--page__image{:src => "../images/loader_page.gif", "data-src" => "../images/about/tomato.jpeg", :alt => "Brooklyn"}/ 

                    %a.book--page__detail{:href => "brooklyn.html"} 
                        .book--page__title noguchi museum
                        .book--page__num 100


                .book--page__item
                    %a.img--holder{:href => "brooklyn.html"} 
                        %img.book--page__image{:src => "../images/loader_page.gif", "data-src" => "../images/about/tomato.jpeg", :alt => "Brooklyn"}/ 

                    %a.book--page__detail{:href => "brooklyn.html"} 
                        .book--page__title noguchi museum
                        .book--page__num 100



                .book--page__item
                    %a.img--holder{:href => "brooklyn.html"} 
                        %img.book--page__image{:src => "../images/loader_page.gif", "data-src" => "../images/about/tomato.jpeg", :alt => "Brooklyn"}/ 

                    %a.book--page__detail{:href => "brooklyn.html"} 
                        .book--page__title noguchi museum
                        .book--page__num 100



                .book--page__item
                    %a.img--holder{:href => "brooklyn.html"} 
                        %img.book--page__image{:src => "../images/loader_page.gif", "data-src" => "../images/about/tomato.jpeg", :alt => "Brooklyn"}/ 

                    %a.book--page__detail{:href => "brooklyn.html"} 
                        .book--page__title noguchi museum
                        .book--page__num 100



                .book--page__item
                    %a.img--holder{:href => "brooklyn.html"} 
                        %img.book--page__image{:src => "../images/loader_page.gif", "data-src" => "../images/about/tomato.jpeg", :alt => "Brooklyn"}/ 

                    %a.book--page__detail{:href => "brooklyn.html"} 
                        .book--page__title noguchi museum
                        .book--page__num 100



                .book--page__item
                    %a.img--holder{:href => "brooklyn.html"} 
                        %img.book--page__image{:src => "../images/loader_page.gif", "data-src" => "../images/about/tomato.jpeg", :alt => "Brooklyn"}/ 

                    %a.book--page__detail{:href => "brooklyn.html"} 
                        .book--page__title noguchi museum
                        .book--page__num 100



                .book--page__item
                    %a.img--holder{:href => "brooklyn.html"} 
                        %img.book--page__image{:src => "../images/loader_page.gif", "data-src" => "../images/about/tomato.jpeg", :alt => "Brooklyn"}/ 

                    %a.book--page__detail{:href => "brooklyn.html"} 
                        .book--page__title noguchi museum
                        .book--page__num 100




                .book--page__item
                    %a.img--holder{:href => "brooklyn.html"} 
                        %img.book--page__image{:src => "../images/loader_page.gif", "data-src" => "../images/about/tomato.jpeg", :alt => "Brooklyn"}/ 

                    %a.book--page__detail{:href => "brooklyn.html"} 
                        .book--page__title noguchi museum
                        .book--page__num 100



                .book--page__item
                    %a.img--holder{:href => "brooklyn.html"} 
                        %img.book--page__image{:src => "../images/loader_page.gif", "data-src" => "../images/about/tomato.jpeg", :alt => "Brooklyn"}/ 

                    %a.book--page__detail{:href => "brooklyn.html"} 
                        .book--page__title noguchi museum
                        .book--page__num 100




                .book--page__item
                    %a.img--holder{:href => "brooklyn.html"} 
                        %img.book--page__image{:src => "../images/loader_page.gif", "data-src" => "../images/about/tomato.jpeg", :alt => "Brooklyn"}/ 

                    %a.book--page__detail{:href => "brooklyn.html"} 
                        .book--page__title noguchi museum
                        .book--page__num 100



                .book--page__item
                    %a.img--holder{:href => "brooklyn.html"} 
                        %img.book--page__image{:src => "../images/loader_page.gif", "data-src" => "../images/about/tomato.jpeg", :alt => "Brooklyn"}/ 

                    %a.book--page__detail{:href => "brooklyn.html"} 
                        .book--page__title noguchi museum
                        .book--page__num 100



            .book--pages__read-more
                Load More Pages

            


            = partial "partials/footer"
