---
layout: l_landing
---

.legal--header
    .site-width
        %h1 Privacy Policy
        %span Enacted September 6th, 2013
        %span M&C, Inc.

.legal--container
    .site-width
        .privacy-and-terms--container
            = partial "partials/privacy"



    // Partial footer
    = partial "partials/footer"



