---
layout: l_landing
---

.legal--header
    .site-width
        
        -# Title of the page
        %h1 Privacy Policy
        / %h1 プライバシーポリシー

        -# Date of update        
        %span Enacted September 6th, 2013
        / %span 2013年9月6日制定

        -# Name of the firm
        %span M&C, Inc.
        / %span M&C株式会社

.legal--container
    .site-width
        .privacy-and-terms--container
            = partial "partials/privacy-en"



    // Partial footer
    = partial "partials/footer"



