//
// Privacy Policy
// 
// Note:
//   - You must update the date when you changed this file.
//   - This article must be latest version.
//   - Once you updated this file, you must optimize the file below.
//       ^ in-appview/terms.haml 
//       ^ in-appview/privacy.haml 
//       ^ pages/terms.haml
//       ^ pages/privacy.haml
//

%p このプライバシーポリシー（以下、「本プライバシーポリシー」といいます。）は、M&C株式会社（以下、「弊社」といいます。）が提供するスマートフォン用アプリケーション「Poin」（以下、「本アプリ」といいます。）および本アプリに関するサービス（以下、「本サービス」といい、本アプリとあわせて「本アプリ等」といいます。）におけるユーザー情報の取扱いを定めたものです。

%h2 1.　定義
%p 本プライバシーポリシーにおいて使用する用語の意義は、別途定義されている場合を除き、次の各号に定めるとおりとします。
%ol.bracket-ordered-list
    %li (1). 「ユーザー」　本アプリ等を利用するために会員登録している者をいいます。
    %li (2). 「ユーザー情報」　第2条において定める各情報をいいます。
    %li (3). 「コンテンツ」　本アプリ等自体と本アプリ等内に存在するあらゆる情報をいいます。
    %li (4). 「ユーザーコンテンツ」　ユーザーが投稿、編集、複製等によって本アプリ等上に公開したコンテンツをいいます。
    %li (5). 「投稿」　ユーザーが本アプリ等にユーザーコンテンツをアップロードする行為をいいます。

%h2 2.　取得される情報の項目、利用目的、取得方法
%ol
    %li 当社は、本アプリ等のご利用に際して、以下のユーザー情報を以下の利用目的のために自動的に取得いたします。なお、第1号及び第2号のユーザー情報を取得する際には、個別の同意を取得いたします。
    %ol.bracket-ordered-list
        %li (1). Facebook及びTwitterの認証情報（Facebook又はTwitterアカウントを利用して本アプリ等にログインすることを可能にするため）
        %li (2). ユーザーのFacebook又はTwitterアカウントにおける友人又はフォロワーの氏名、ユーザー名、画像（ユーザーのFacebook又はTwitterアカウントにおける友人又はフォロワーに本アプリのInvitationを送付することを可能にするため）
        %li (3). 端末識別番号を含む本アプリを利用している端末の利用環境情報（本人確認及び正常なサービス提供を妨害する不正行為を防止するため）
        %li (4). Cookie（設定内容の保存等ユーザーの利便性向上のため）
        %li (5). 本アプリの利用履歴（本アプリの利用に関する統計データを作成し、本アプリの品質・機能を向上させるため）
    %li 当社は、前項第3号乃至第5号のユーザー情報を、当社のアプリケーション・プライバシーポリシーに適合することを確認した以下の情報収集モジュールを通じて取得いたします。
    %ol.bracket-ordered-list
        %li 
            (1). Flurry Analytics（Flurry, Inc.
            %a{:href => ""} http://www.flurry.com/privacy-policy.html
            ）
        %li 
            (2). Google Analytics（Google Inc.
            %a{:href => ""} https://www.google.co.jp/intl/ja/policies/privacy/
            ）
    %li 本アプリ等のご利用に際して、以下のユーザー情報を以下の利用目的のためにユーザーにご入力いただいて取得いたします。
    %ol.bracket-ordered-list
        %li (1). 氏名、ユーザー名、自己紹介文、パスワード及びメールアドレス（ユーザー登録、弊社からの通知の送付、アカウントの再設定等のため）
        %li (2). 画像（ユーザープロフィール画面に掲載するため）
    %li 弊社は、前3項に基づき取得されたユーザー情報を、マーケティング情報として加工し、広告提供者等の第三者に提供することがありますが、ユーザー個人を特定することのできる情報と紐づけて提供することはありません。

%h2 3.　同意
%p 本アプリ等は、本プライバシーポリシーをご確認いただき、内容をご理解した上でご利用ください。本プライバシーポリシーは本アプリのアカウント設定画面に掲示されており、この掲示をもって公表したものとします。ユーザーは本アプリをインストールする際に、本プライバシーポリシーをご確認ください。

%h2 4.　ユーザー関与の方法
%p 本サービスでは、ユーザーの操作やお申し出により、ユーザー情報の全部もしくは一部の取得停止、変更、削除、利用の停止をすることができます。なお、ユーザー情報の全部もしくは一部の取得停止、変更、削除、利用の停止に伴い、本アプリ等の機能の全部又は一部をご利用いただけなくなることがあることをご了承ください。

%h2 5.　サービスの終了と情報の取扱い
%p ユーザーが本サービスより退会された場合には、弊社が取得したユーザー情報を適切に廃棄いたします。ただし、第2条第1項第5号のユーザー情報を用いて作成された本アプリの利用に関する統計データは、ユーザーが本サービスより退会された後も、弊社のサーバーに保管されます。なお、弊社はユーザーが本サービスを退会した後も、当該ユーザーのユーザーコンテンツを本サービスにおいて掲載することがあります。この場合、弊社はユーザーコンテンツから当該ユーザーのユーザー情報を削除した上で、当該ユーザーコンテンツを掲載いたします。

%h2 6.　個人情報保護方針（プライバシーポリシー）等へのリンク
%p 当社の個人情報保護方針および本プライバシーポリシーの最新のものは、下記のリンクよりご確認ください。当社の個人情報保護方針と本プライバシーポリシーが異なる場合には、本プライバシーポリシーが優先するものとします。
%p        http://poin.co/privacy 

%h2 7.　情報の開示、提供
%p 当社は、ユーザーの同意を得ることなく、本アプリ等にてユーザーより取得、保存した情報を、本プライバシーポリシーに明示している第三者以外に開示または提供することはありません。ただし、以下の場合は除きます。
%ol.bracket-ordered-list
    %li (1). 法令に基づく場合。
    %li (2). 人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合。
    %li (3). 国の機関もしくは地方公共団体またはその委託を受けたものが、法令の定めにより遂行することに協力する必要がある場合であって、本人の同意を得ることによりその遂行に支障を及ぼすおそれがある場合。
    %li (4). その他、社会通念上、当社が必要と判断した場合であって、本人の同意を得ることが困難である場合。

%h2 8.　取得された情報の公開、共有
%p ユーザーが本サービスを通じて友達や知人と情報を共有する機能を利用した場合には、本アプリを通じて投稿したテキスト、画像、URLのリンク、点数、投稿先のPage及びブックに含まれるユーザー名及びプロフィール画像が、情報の共有をしている友達や知人に通知または共有されます。また、これらの機能を全て公開する設定としていると、本サービスを利用している全てのユーザーが閲覧することができ、投稿先のPage及びブックに含まれるユーザー名及びプロフィール画像については、本アプリが提携するサービスの利用者も閲覧することができます。公開範囲は、本アプリの設定機能から変更することができます。

%h2 9.　問い合わせ窓口
%p 本アプリ等におけるユーザー情報の取扱いに関するお問い合わせ、ご相談は、privacy@themandc.comにてお受けいたします。

%h2 10.　変更
%p 本プライバシーポリシーは改定されることがあります。
%ol.bracket-ordered-list
    %li (1). 本アプリのバージョンアップに伴って、ユーザー情報の取得項目の変更や追加、利用目的の変更、第三者提供等について変更がある場合には、バージョンアップ後最初にユーザーがログインされる際に通知し、重要なものについてはログイン時にあらためて同意を取得させていただきます。
    %li (2). その他、ユーザー情報の取得項目の変更や追加、利用目的の変更、第三者提供等について変更がある場合には、ご登録いただいたメールアドレスへの通知又は弊社webサイト等を通じてお知らせすると同時に、重要なものについてはあらためて同意を取得させていただきます。
