//
// Terms of Sservice
// 
// Note:
//   - This article must be latest version.
//   - Once you updated this file, you must optimize the file below.
//       ^ in-appview/terms.haml 
//       ^ in-appview/privacy.haml 
//       ^ pages/terms.haml
//       ^ pages/privacy.haml
//


%p This application, "Poin" (hereinafter, "App"), is operated by M&C, Inc. (hereinafter, "Company").  These Terms of Service (hereinafter, "Terms of Service") define the conditions of use for App and other services (hereinafter, "Services", collectively with App, "App, etc.") provided via App, and apply to all actions of user when using App, etc.  The user agrees to these Terms of Service when using App, etc.  By using App, etc., the user agrees to be bound by all terms and conditions set forth in Terms of Service.

%h2 Article 1　Definitions
%p Unless otherwise defined, the terms used in these Terms of Service shall have the meanings set forth in the following items:
%ol.bracket-ordered-list
    %li (1). "User" means a person that registers as a member in order to use App, etc.; 
    %li (2). "Content" means App, etc. itself and all information that exists inside App, etc.;
    %li (3). "User Content" means all Content that is posted, edited, duplicated, or otherwise published by User to App, etc.;
    %li (4). "Post" means the act of User uploading User Content to App, etc.;
    %li (5). "Registered E-mail Address" means information pertaining to the e-mail address User provides Company in order to use App, etc.; 
    %li (6). "Password" means a string of characters that, along with Registered E-mail Address, is used to verify personal identity for use of App, etc.;
    %li (7). "Other Terms of Service, etc." means all terms regarding the conditions of use for App, etc. that are outside of these Terms of Service.

%h2 Article 2　Scope of Terms of Service
%ol
    %li The conditions of use for App, etc. are established in these Terms of Service.  Regardless of their title, "Other Terms of Service, etc." constitute a portion of these Terms of Service.
    %li In the event that rules in these Terms of Service and those of Other Terms of Service, etc. differ, the rules of Other Terms of Service, etc. are given precedence.
    %li In the event that separate Terms of Service or other their equivalent as defined by third parties with whom Company either collaborates or entrusts with the operation or provision of App, etc. exist, User further agrees to all such terms in the same manner as under Terms of Service.
    %li In the event that these Terms of Service or any Other Terms of Service, etc. are translated and interpretations differ between languages, precedence shall be given to the Japanese language version of these terms. 

%h2 Article 3　Changes to Terms of Service 
%ol
    %li Company reserves the right to, at its own discretion, at any time and for any reason, modify these Terms of Service without notifying User or obtaining the consent of User. 
    %li Unless otherwise defined by Company, Terms of Service following any changes are effective the moment they are displayed on App, etc.
    %li In the event User uses App, etc. after revised Terms of Service go into effect, user agrees to the all content of the revised Terms of Service.

%h2 Article 4　Handling of Private Information
%p In accordance with separately defined Privacy Policy, Company will appropriately handle User's private information.

%h2 Article 5　User Registration
%ol
    %li Persons wishing to use App, etc. shall apply for admission by agreeing to Terms of Service in a method prescribed by Company. 
    %li Persons applying for admission (hereinafter, "Applicant") become a User upon acceptance of application by Company. 
    %li Company will provide User with announcements regarding new services, delivered advertisements, administrative communications regarding the operation of the service, and other information. However, should User not desire to receive such information, User may either prior to or after the fact inform Company of such desire in a method prescribed by Company, and Company will not provide such information unless it is necessary for the provision of App, etc. (this includes the delivery of advertisements that is required in order to provide App free of charge). 
    %li Each User may possess one (1) account.
    %li User may not, under any circumstance, either transfer or lend their account to a third party. 
    %li Persons under the age of 13 may not register as a User.

%h2 Article 6　Rejection of Application
%p Company may, as per the items below, not approve Paragraph 2 of the preceding article: 
%ol.bracket-ordered-list
    %li (1). When Applicant applies for admission in methods not listed in the preceding article; 
    %li (2). When Applicant has, in the past, been forced to withdraw membership due to previous violations of Terms of Service or Other Terms of Service, etc; 
    %li (3). In any other case that Company deems inadequate.  

%h2 Article 7　Withdrawing Membership
%p Users wishing to withdraw membership shall apply for a withdrawal of membership in a method prescribed by Company.

%h2 Article 8　Management of Registered E-mail Address and Password
%ol
    %li User must register a usable e-mail address that they personally manage as Registered E-mail Address.  If Registered E-mail Address is no longer personally managed by User, User must change Registered E-mail Address to another usable mail address that they do personally manage. 
    %li User must attempt to prevent misuse of their Registered E-mail Address and Password, and bears all responsibility for their management.
    %li Company bears no liability for any damages resulting from a third party's use of Registered E-mail Address or Password, except in cases of willful conduct or gross negligence on the part of Company. 

%h2 Article 9　Maintenance of Operating Environment 
%ol
    %li User shall bear responsibility and costs for any hardware, software, and communications tools required to use App, etc., maintain them properly, and bear any expense resulting from the use of App, etc. 
    %li User shall, within their own operating environment, effect security countermeasures, including the prevention of infection of computer viruses, unauthorized access, or the leaking of any information. 
    %li Company shall not become involved in or bear any liability for User's operating environment. 

%h2 Article 10　User Responsibilities
%ol
    %li User shall bear all responsibilities for their use of App, etc., as well as all responsibility for the actions and results of their use of App, etc. 
    %li Responsibility for User Content posted by User via use of App, etc. is that of User that posted such Content.  Company bears no liability for the contents of any Content posted by User through App, etc.
    %li In the event that User defames others, violates privacy, publishes personal information of third parties without consent, commits any violation of the Copyright Act (Act No. 48 of 1970), or infringes upon the rights of another in any other way, User bears all responsibility and cost to resolve these issues.  Company bears no liability for these costs, and shall seek compensation for any related costs, losses, or damages. 
    %li User shall be obligated to ensure all registered information is current, and in the event that any changes to registered information take place, User must modify the content of their registration within thirty (30) days. Company bears no liability for any interruptions in User's use of App, etc. resulting from an inability to contact User when registered information is not current.

%h2 Article 11　Prohibited Matters
%ol
    %li In using App, etc., User shall not facilitate or carry out any acts set forth in the following items or any acts encourage those acts: 
    %ol.bracket-ordered-list
        %li (1). Acts that do or may violate the intellectual property rights of Company or any third parties; 
        %li (2). Acts that do or may infringe upon the property rights, privacy, portrait rights, or personality rights of Company or any third parties; 
        %li (3). Acts of unjust discrimination or libel that are detrimental to the name or trust of Company or any third parties;
        %li (4). Acts of using App, etc. via falsified data, such as assuming another's name or posing to have power of representation of a group; 
        %li (5). Any acts of any fashion that harass Company or any third parties; 
        %li (6). Acts that are or may be related to criminal offenses such as fraud and the abuse of controlled substances;
        %li (7). Acts that Company determines to be in violation of any laws and regulations, public order and morality, these Terms of Service, or Other Terms of Service, etc., as well as acts that Company determines to infringe upon the rights of third parties; 
        %li (8). Acts of sending or posting any malicious programs, such as viruses; 
        %li (9). Acts that disturb the use by Company or any other User, such as overloading the server; 
        %li (10). Unauthorized rewriting or deletion of information compiled on Company equipment;
        %li (11). Acts of reverse engineering or compiling any Company software, including App;
        %li (12). Acts of spamming as per the below:
        %ol.roman-ordered-list
            %li Spam posts, spam mails: Acts where one User or multiple Users post or distribute via e-mail identical or similar text. 
            %li Spam words:  Acts where one User or multiple Users repeatedly posts expressions or phrases that are unrelated or sparsely related to a given area, or otherwise expressions or phrases that are significantly long and/or of high volume; 
            %li Spam URL: Acts where one User or multiple Users post or distribute via e-mail identical URL. 
            %li Any other acts Company determines to be spam;
        %li (13). Acts of invading Company systems or threatening Company security;
        %li (14). Acts of impersonating Company; 
        %li (15). Acts of displaying or posting content that is indecent, or equates to child pornography or child abuse (hereinafter, "Harmful Content");
        %li (16). Acts of selling media, including Harmful Content;
        %li (17). Acts of displaying advertisements that evoke sales of Harmful Content;
        %li (18). Acts that cooperate/contribute to the maintenance and operation of anti-social forces; 
        %li (19). Any other actions that Company deems inappropriate. 
    %li User may not post or send any User Content whose contents meets the contents set forth in the following items: 
    %ol.bracket-ordered-list
        %li (1). Content that solicits others, including pyramid schemes (Ponzi schemes), chain mails, multi-level marketing (MLM), and paid-to-read mails (PTR mails); 
        %li (2). Content that leads to sites that exist for the dissemination of harmful computer programs such as one-click fraud and virus sites, as well as content that Company determines to solicit others to sites that Company determines to be inappropriate;
        %li (3). Content for the purpose of commercial advertisements or soliciting publicity; 
        %li (4). Content that includes links to affiliates or others; 
        %li (5). Content that Company determines may cause discomfort for others, including grotesque imagery; 
        %li (6). Content that Company determines may be abusive to third parties or cause any sort of harm to third parties;
        %li (7). Content that may potentially identify an individual or any third parties, including their name, address, place of work, or phone number; 
        %li (8). Content that deviates from the spirit of the Service; 
        %li (9). Content that includes fraudulent information; 
        %li (10). Content pertaining to trouble/claims; 
        %li (11). Content related to articles that should be reported to public institutions; 
        %li (12). Content that may infringe upon the rights of third parties;
        %li (13). Content to which said User does not have rights; 
        %li (14). Content that facilitates or encourages unlawful acts; 
        %li (15). Any other Content that Company deems inappropriate. 

%h2 Article 12　Copyrights and Handling of Content 
%ol
    %li Rights and responsibilities of User Content included in App, etc. belong to poster. Rights to all other Content belong to Company.  This Content may not be used when a User without rights to such Content reprints, duplicates, transfers, lends, or alters Content without prior consent (hereinafter, "Other Use"). 
    %li Regarding Content posted to App, etc., User who posts such Content guarantees Company that this Content does not infringe upon the copyrights, trademark rights, any other property rights, author's moral rights or any other personal rights, within or outside App, etc. or any other rights of any third parties.  Furthermore, when posting Content that uses copyrighted work of third parties, User bears responsibility for taking steps required to gain necessary permission.  In the event that any conflict arises between Company or User and a third party pertaining to Content posted by User, User will bear responsibility and costs related to solving such disputes.  Company bears no liability for these costs, and shall seek compensation for any related costs, losses, or damages.
    %li Upon posting Content to App, etc., Company deems that User grants Company as well as any third parties authorized for use by Company for the suitable operation and provision of services (hereinafter, "Third Parties Authorized for Use") the permission to use Content (including, but not limited to its publication, use, copy, amendment, alteration, distribution, licensing, translation, forwarding, transmission, and broadcasting) both domestically and internationally, without compensation, for an indefinite period, on a non-exclusive basis, as a transferrable item.  Additionally, when Company or Third Parties Authorized for Use use such Content, there are cases in which the substance of such Content (including, but not limited to the URL entered when posting and the content of any reviews) may be changed, altered, or partially deleted or extracted (hereinafter, collectively "Alterations"), and User grants Company rights to make any such Alterations.  With such Alterations, Company and Third Parties Authorized for Use bear no liability for regional restrictions, obligation to declare copyrights, or any other corresponding obligations.  There are instances whereby, due to Alterations, the substance of Content before Alterations may be lost.  Any such use or Alterations shall be made without providing User notification either prior to or after the fact. 
    %li Even in cases where Company receives compensation such as affiliated income, etc., from third parties due to the use of User Content (including Alterations) as defined in the preceding paragraph, User shall not be able to claim any compensation or payment for losses from Company. 
    %li User may freely delete Content they posted to App, etc.  However, in the event that such Content is being used by Company or Third Parties Authorized for Use, this Content may continue to be displayed on App, etc. even after its deletion.
    %li User should be forewarned that Company bears no obligation to save User Content posted by User on App, etc., and may without prior notice delete User Content.
    %li Regarding use of Content (including Alterations) by Company and Third Parties Authorized for Use, Users holding the rights to this Content shall not be able to exercise author's moral rights under the Copyright Act regardless of specific references contained within this article.  Please contact Company in the event that the aforementioned use noticeably infringes upon the name or reputation, etc., of User. 
    %li User grants Company and third parties permission to, without User's consent, freely use User Content for any purposes and in any places where advertisements are displayed along with such User Content both inside App, etc. and any other media, as well as to freely edit, amend, provide to third parties, examine the substance, use for marketing and advertising activities both in App, etc. and outside App, etc.,, edit and display User Content alongside advertisements both within App, etc. and outside of App, etc.
    %li User may, within the scope of private use, view, access, display, save, and duplicate Content to which rights belong to third parties, provided User does so within a service provided by Company or third parties authorized by Company. 
    %li Company may make changes to User Content when required to adapt or adjust such Content to networks, devices, services, and forms of media. 

%h2 Article 13　Response to Violations of These Terms of Service or Other Terms of Service, etc.
%ol
    %li In cases where User found to have violated these Terms of Service or Other Terms of Service, etc., or in others cases deemed necessary by Company, Company may carry out the following against User:  However, Company bears no obligation to carry out such actions. 
    %ol.bracket-ordered-list
        %li (1). Request that User ceases acts that violate either these Terms of Service or Other Terms of Service, etc., and not engage in such acts again; 
        %li (2). Request modifications to User Content; 
        %li (3). Partially or completely delete User Content, change the areas to which it is made public, or prevent the ability to access such User Content; 
        %li (4). Disclose facts related to the violation; 
        %li (5). Temporarily prevent use of App, etc.; 
        %li (6). Forcibly withdraw membership; 
    %li Company bears no liability to any loss of income or damages to User resulting from the measures listed in the preceding paragraph.
    %li User may not file complaints regarding Company carrying out actions defined in Paragraph 1 in accordance with these Terms of Service.
    %li In the event Company suffers damages due to User violations of these Terms of Service or Other Terms of Service, etc., regardless of whether or not Company carries out actions listed in Paragraph 1, Company may seek compensation for damages from User, and User will immediately compensate Company.

%h2 Article 14　Changes to Service
%ol
    %li Company may, at its own discretion, at any time and for any reason, make changes, additions, suspensions to, or termination of App, etc. (hereinafter, "Changes to App, etc."). 
    %li Company bears no liability for any damages to User caused by Changes to App, etc.

%h2 Article 15　Disclaimer
%ol
    %li Company makes no guarantees regarding User Content, including the legality, morality, trustworthiness, or accuracy of their content.  User assumes responsibility for the posting and accessing of User Content.  Company bears no responsibility regarding whether User Content posted by Users is in compliance with internal rules of any corporations or groups to which User belongs.
    %li Company has no responsibility for communications or activities of User.  In the event of any dispute between Users, such disputes will be resolved by Users. Company bears no responsibility for resolving such disputes. 
    %li Company bears no liability for damages arising from posted User Content (including damages caused by viruses spread between Users).
    %li Company bears no responsibility to monitor or save User Content. 
    %li Company bears no responsibility for any interference in services, including slower display times or a stoppage in service, that results from excessive access or any other unexpected circumstance. 
    %li In cases where these Terms of Service or any Other Terms of Service, etc. fall under the consumer contract of Article 2(3) of the Consumer Contract Act (Act No. 61 of 2000) and Company bears responsibility to pay compensation for damages as a result of default or illegal activities on the part of Company, then the exemption from Company bearing responsibility to pay compensation for damages listed in either these Terms of Service or Other Terms of Service, etc. shall not be applied.  In such cases, with the exception of cases of willful conduct or gross negligence on the part of Company, Company shall bear responsibility for directly and assuredly compensating User for maximum amount of such damages.  However, Company shall not bear liability for any damages arising from special circumstances (including cases where damages were or could have been foreseen).
    %li For external sites or Content provided by Company, User shall bear responsibility for connecting to such external sites or Content, and Company bears no liability for any damages resulting from connection to such external sites or Content.

%h2 Article 16　Company’s Right to Delete
%ol
    %li In the following cases, Company has the right to partially or entirely delete User Content or to take others steps, regardless of whether such User Content is illegal or breaches Terms of Service or Other Terms of Service, etc.  However, Company shall not be obliged to implement such measures.
    %ol.bracket-ordered-list
        %li (1). When User Content is posted which portrays or depicts a nude body (whether partially or completely unclothed) of a person (regardless of whether or not such figure is a real person, including characters from comic books and cartoons, etc.); 
        %li (2). When a public organization or an expert (i.e. the nation, a local public body, a reliability assurance body as defined by the guideline under the Act on the Limitation of Liability for Damages of Specified Telecommunication Service Providers and the Right to Demand Disclosure of Identification Information of the Senders, internet hotlines, and lawyers) points out or expresses its opinion that Content is illegal, against public morals, or violates rights of others, etc.;
        %li (3). When a person claiming to be a right holder makes a claim that the Content infringes upon his or her rights.
    %li Company shall not be obliged to bear any of the damages incurred to User arising from the deletion set forth in the preceding paragraph.

%h2 Article 17　Provision of Information in connection with Reporting on Copyrights, etc. 
%ol
    %li If you wish to report or express your opinion concerning Company, you may provide with such information in accordance with a way designated by Company.
    %li Please do not include any confidential information of a third-party in the information you provide to Company.  Further, Company shall not be obliged to keep such information provided secret.
    %li Any information provided to Company shall be deemed to be User Content under the Service and will be treated in accordance with the way set forth in Article 12 of Terms of Service.
    %li In response to any reports of acts that violate Terms of Service or Other Terms of Service, etc., Company shall confirm such acts and deal with them in good faith.

%h2 Article 18　Severability
%ol
    %li If any one of the provisions of Terms of Service or Other Terms of Service, etc., shall be found invalid under laws and regulations, the validity and enforceability of the remaining provisions shall not be affected.
    %li If whole or a part of the provisions of Terms of Service or Other Terms of Service, etc., shall be found invalid under laws and regulations in relation to some Users, the validity and enforceability of such provisions shall not be affected in relation to other Users. 

%h2 Article 19　Governing Law and Jurisdiction
%ol
    %li Terms of Service shall be governed by the laws of Japan.
    %li In the event of any dispute between User and Company, the Tokyo District Court shall have exclusive jurisdiction as the court of first instance.

%h2 Supplementary Provisions
%ol
    %li Terms of Service shall come into effect as of September 6th, 2013.
    %li Terms of Service shall apply to any acts which have been taken by User prior to the enforcement of Terms of Service.

%h2 Reporting an impersonated account
%p If you wish to report an impersonated account, please provide Company with the following information via e-mail:
%ul
    %li Pictures of a valid official piece of identification taken clearly and from two different angles.  Please attach these pictures to the reply you send in response to the first mail you receive from Company.  Personal information may be redacted and blacked out.
    %li Your name;
    %li Your e-mail address;
    %li Your user name;
    %li User name of the account in question;
    %li Evidence that proves the account is an impersonated account (e.g. URL of related comment and an image).

%h2 Reporting a User who does not meet age restriction
%p If you wish to report an account of a User who is under the age of 13, please provide Company with the following information via e-mail:
%ul
    %li User name of the User under 13 years of age;
    %li Piece of identification of the User that proves User is under the age of 13 (e.g. student identification card or birth certificate).  Personal information included in the identification other than the name and birthday of the person may be redacted and blacked out.  Please attach the above to an e-mail sent to Company.

%h2 Reporting an inappropriate account (including spam)
%p If you wish to report an inappropriate account, please provide Company with the following information via e-mail:
%ul
    %li Your user name;
    %li User name of the account in question;
    %li Inappropriate picture or comment that has been posted to the account of the User, including the URL of the image or details of the comment (content and date of such posting).

%h2 Reporting on intellectual property rights
%p If you wish to report any infringements of intellectual property rights (e.g. copyrights, trademarks, etc.), please provide Company with the following information via e-mail:
%ul
    %li Name, address, telephone number, and e-mail address of reporting party;
    %li Name of the right holder of the copyrights, trademarks, or any other intellectual property rights that appear to have been infringed upon;
    %li Relationship between the reporting party and the right holder;
    %li Details of the copyrights, trademarks, or any other intellectual property rights that appear to have been infringed upon;
    %li Details of the location of the site on which the content that appears to have been infringed upon;
    %li Reason why the reporting party believes that the use of content subject to the report is not permitted by the right holder or its agent of the copyrights, trademarks, or any other intellectual property rights or laws.




.privacy-and-terms--card
    %h4 Contact
    %p
        E-mail address: 
        %a.contact{:href => "mailto:support@themandc.com"} support@themandc.com