//
// Terms of Sservice
// 
// Note:
//   - This article must be latest version.
//   - Once you updated this file, you must optimize the file below.
//       ^ in-appview/terms.haml 
//       ^ in-appview/privacy.haml 
//       ^ pages/terms.haml
//       ^ pages/privacy.haml
//



%p このアプリケーション「Poin」（以下、「本アプリ」といいます）はM&C株式会社（以下、「弊社」といいます）が運営しております。この利用規約（以下、「本利用規約」といいます）は、弊社が本アプリ及び本アプリを通じて提供するサービス（以下、「本サービス」といい、本アプリとあわせて「本アプリ等」といいます）の利用条件を定めるものであり、ユーザーが本アプリ等を利用する際の一切の行為に適用されます。ユーザーは本利用規約に同意の上、本アプリ等を利用するものとします。ユーザーが本アプリ等を利用することにより、本利用規約の記載内容全てについて同意したものとみなされます。

%h2 １条　定義
%p 本利用規約において使用する用語の意義は、別途定義されている場合を除き、次の各号に定めるとおりとします。
%ol.bracket-ordered-list
    %li (1). 「ユーザー」　本アプリ等を利用するために会員登録している者をいいます。
    %li (2). 「コンテンツ」　本アプリ等自体と本アプリ等内に存在するあらゆる情報をいいます。
    %li (3). 「ユーザーコンテンツ」　ユーザーが投稿、編集、複製等によって本アプリ等上に公開したコンテンツをいいます。
    %li (4). 「投稿」　ユーザーが本アプリ等にユーザーコンテンツをアップロードする行為をいいます。
    %li (5). 「登録メールアドレス」　本アプリ等の提供を受ける目的で、ユーザーが弊社に対して提供するメールアドレスの情報をいいます。
    %li (6). 「パスワード」　本アプリ等を利用するに当たって、登録メールアドレスと照合して本人識別を行うための文字列をいいます。
    %li (7). 「その他の利用規約等」　本利用規約以外の規定であって、本アプリ等の利用条件を定めるあらゆる規定をいいます。

%h2 ２条　本利用規約の範囲
%ol
    %li 本アプリ等の利用条件は、本利用規約において規定されています。その他の利用規約等は名称の如何に関わらず本利用規約の一部を構成するものとします。
    %li 本利用規約の規定とその他の利用規約等の規定が異なる場合は、当該その他の利用規約等の規定が優先して適用されるものとします。
    %li 弊社が本アプリ等の運営・提供に関して提携もしくは委託した第三者によって別途利用規約もしくはこれに相当する規約等が定められている場合、ユーザーは当該規約等に本規約と同様に従うものとします。
    %li 本利用規約及びその他の規約等が翻訳され、異なる言語の規約間で解釈に違いが生じた場合、日本語による規約による解釈が優先して適用されるものとします。

%h2 ３条　本利用規約の変更
%ol
    %li 弊社は、ユーザーに対する通知及びユーザーの承諾を得ることなく、弊社の判断により、本利用規約をいつでも任意の理由で変更することができるものとします。
    %li 変更後の本利用規約は、弊社が別途定める場合を除いて、本アプリ等上に表示した時点より効力を生じるものとします。
    %li ユーザーが、本利用規約の変更の効力が生じた後に本アプリ等をご利用になる場合には、変更後の本利用規約の全ての内容に同意したものとみなされます。

%h2 ４条　個人情報の取り扱い
%p 弊社は、別途定める「プライバシーポリシー」に基づき、ユーザーの個人情報を適切に取り扱うものとします。

%h2 ５条　ユーザー登録
%ol
    %li 本アプリ等の利用を希望する者は、本利用規約の内容に同意した上で、弊社所定の方法により、入会の申込を行うものとします。
    %li 入会の申込をした者（以下、「入会申込者」といいます）は、弊社が入会の申込を承諾した時点でユーザーになります。
    %li 弊社は、ユーザーに対して新サービスの告知、広告配信、サービス運営上の事務連絡、その他情報の提供を行います。ただし、ユーザーが情報の提供を希望しない旨を、事前又は事後に弊社所定の方法で弊社に通知した場合は、本アプリ等の提供に必要な場合（本アプリを無料で提供するために必要な広告配信を含む）を除いて、情報の提供を行わないものとします。
    %li ユーザーは一人につき１つのアカウントを保有するものとします。
    %li いかなる場合においても、ユーザーはアカウントを第三者に譲渡、又は貸与することはできません。
    %li 13歳未満の方のユーザー登録は禁止します。

%h2 ６条　入会申し込みの不承諾
%p 弊社は、以下の各号に掲げる場合には、前条第2項の承諾をしない場合があります。
%ol.bracket-ordered-list
    %li (1). 入会申込者が、前条の方法によらずに入会の申込を行った場合
    %li (2). 入会申込者が、過去に本利用規約又はその他の利用規約等に違反したことを理由として強制退会処分を受けた者である場合
    %li (3). その他弊社が不適切と判断した場合 

%h2 ７条　退会
%p ユーザーが退会を希望する場合には、ユーザーは、弊社所定の方法により、弊社に退会の申出を行うものとします。

%h2 ８条　登録メールアドレス及びパスワードの管理
%ol
    %li ユーザーは、自分の管理に属する使用可能なメールアドレスを登録メールアドレスとして登録しなければならず、当該登録メールアドレスが自己の管理に属さなくなったときには、自己の管理に属する使用可能な別のメールアドレスに変更しなければならないものとします。
    %li ユーザーは、自己の登録メールアドレス及びパスワードの不正利用の防止に努めるとともに、その管理について一切の責任を持つものとします。
    %li 登録メールアドレスやパスワードが第三者に利用されたことによって生じた損害等については、弊社に故意又は重過失がある場合を除き、弊社はいかなる責任も負いません。

%h2 ９条　利用環境の整備
%ol
    %li ユーザーは、本アプリ等を利用するために必要なあらゆる機器、ソフトウェア、通信手段を自己の責任と費用において、適切に整備し、本アプリ等の利用に際して生じるいかなる料金もユーザーが負担するものとします。
    %li ユーザーは自己の利用環境に応じて、コンピューター・ウィルスの感染の防止、不正アクセス及び情報漏洩の防止等のセキュリティ対策を講じるものとします。
    %li 弊社はユーザーの利用環境について一切関与せず、また一切の責任を負いません。

%h2 １０条　ユーザー責任
%ol
    %li ユーザーは、ユーザー自身の責任において本アプリ等を利用するものとし、本アプリ等を利用してなされた一切の行為及びその結果について一切の責任を負います。
    %li 本アプリ等を利用してユーザーが投稿したユーザーコンテンツに関する責任は、当該コンテンツを投稿したユーザー自身にあります。弊社はユーザーが本アプリ等を利用して投稿したコンテンツの内容について、一切の責任を負いません。
    %li ユーザーが他人の名誉を毀損した場合、プライバシー権を侵害した場合、許諾なく第三者の個人情報を開示した場合、著作権法(昭和45年法律第48号)に違反する行為を行った場合その他他人の権利を侵害した場合には、当該ユーザーは自身の責任と費用において解決しなければならず、弊社は一切の責任を負わず、弊社がこれに関連して被ったあらゆる費用、損失、損害を補償するものとします。
    %li ユーザーには登録情報を最新に保つ義務があり、登録事項に変更が生じた場合、30日以内に登録内容を修正するものとします。登録内容が最新に保たれず、連絡の行き違い等ユーザーの本アプリ等の利用に何らかの障害が生じた場合でも、弊社は一切の責任を負いません。

%h2 １１条　禁止事項
%ol
    %li ユーザーは、本アプリ等の利用に際し、以下の各号に掲げる行為及びこれらを助長する行為を行ってはなりません。
    %ol.bracket-ordered-list
        %li (1). 弊社もしくは第三者の知的財産権を侵害する行為又は侵害するおそれのある行為。
        %li (2). 弊社もしくは第三者の財産権、プライバシー、肖像権、人格権を侵害する行為又は侵害するおそれのある行為
        %li (3). 弊社及び第三者を不当に差別、誹謗中傷しその名誉もしくは信用を毀損する行為
        %li (4). 自分以外の人物を名乗り、又は団体の代理権があるよう装い、偽装された情報によって本アプリ等を利用する行為
        %li (5). 弊社もしくは第三者に対して方法の如何を問わず嫌がらせをする行為
        %li (6). 詐欺、規制薬物の濫用等の、犯罪に結びつく、又は犯罪に結びつくおそれのある行為
        %li (7). 法令、公序良俗又は本利用規約もしくはその他の利用規約等に違反し又は第三者の権利を侵害すると弊社が判断する行為
        %li (8). ウィルス等有害なプログラムを送信、投稿する行為
        %li (9). サーバーに負荷をかけ、弊社及び他のユーザーの利用を妨げる行為
        %li (10). 弊社の設備に蓄積された情報を不正に書き換える、又は消去する行為
        %li (11). 本アプリを含む弊社ソフトウェアの解析、コンパイル等の行為
        %li (12). 以下に掲げるスパム行為
        %ol.roman-ordered-list
            %li 　スパム投稿・スパムメール ： 一人または複数のユーザーが、同一または類似の文章を投稿し、またはメールで送信する行為。
            %li スパムワード： 一人または複数のユーザーが、当該箇所と無関係若しくは関連性の希薄な語句を複数羅列し、または著しく長い文章若しくは大量の語句を投稿する行為。
            %li スパムURL： 一人または複数のユーザーが、同一のURLを投稿し、またはメールで送信する行為。
            %li その他弊社がスパムと判断する行為。
        %li (13). 弊社システムへの侵入行為、及び弊社のセキュリティを脅かす行為
        %li (14). 弊社を名乗る行為
        %li (15). わいせつ、児童ポルノ、児童虐待等に相当するコンテンツ（以下、「有害コンテンツ」という）を表示、投稿する行為
        %li (16). 「有害コンテンツ」を含む媒体の販売する行為
        %li (17). 「有害コンテンツ」販売を想起させる広告を表示する行為
        %li (18). 反社会勢力等の維持、運営に協力または関与する行為
        %li (19). その他弊社が不適切と判断する行為
    %li ユーザーは、以下の各号に掲げる内容のユーザーコンテンツを投稿、送信してはなりません。
    %ol.bracket-ordered-list
        %li (1). 無限連鎖講（ネズミ講）、チェーンメール、MLM（Multi-Levels Marketing）、リードメール等他人を勧誘する内容のコンテンツ
        %li (2). ワンクリック詐欺、ウィルスサイト等、有害なコンピュータプログラムの流布等を目的とするサイト及び弊社が不適切と判断するサイトに誘導するコンテンツ
        %li (3). 商業広告、宣伝勧誘等を目的としたコンテンツ
        %li (4). アフィリエイト等のリンクを含むコンテンツ
        %li (5). グロテスクな画像等、他人に不快感を与える可能性があると弊社が判断するコンテンツ
        %li (6). 第三者への誹謗中傷等、第三者にあらゆる危害を加える可能性があると弊社が判断するコンテンツ
        %li (7). 本人及び第三者の氏名、住所、勤務先、電話番号等個人を特定しうる内容のコンテンツ
        %li (8). サービスの主旨から逸脱したコンテンツ
        %li (9). 虚偽の内容を含むコンテンツ
        %li (10). トラブル、クレームに対するコンテンツ　
        %li (11). 公的機関等に届け出るべき事項に関連するコンテンツ
        %li (12). 第三者の権利を侵害する可能性のあるコンンテンツ
        %li (13). 当該ユーザーが権利を有さないコンテンツ
        %li (14). 違法行為及びそれを助長するコンテンツ
        %li (15). その他弊社が不適切と判断するコンテンツ

%h2 １２条　コンテンツに関する著作権及び取り扱いについて
%ol
    %li 本アプリ等に含まれるユーザーコンテンツに関する権利及び責任は投稿者に帰属します。その他のコンテンツの権利は弊社に帰属します。これらのコンテンツを、権利を有さないユーザーが無断で転載、複製、譲渡、貸与、改変等の利用（以下、「利用等」といいます）をすることはできません。
    %li 本アプリ等に投稿したコンテンツについて、当該投稿を行ったユーザーは、コンテンツが本アプリ等内外の第三者の著作権、商標権、その他の財産権、著作者人格権その他の人格権、その他第三者の一切の権利を侵害していないことを弊社に対し保証するものとします。また、第三者の著作物等を利用して投稿を行う場合、ユーザーの責任において許諾等に必要な措置を採るものとします。ユーザーが投稿したコンテンツに関し、弊社又はユーザーと第三者との間で何らかの紛争が発生した場合には、当該ユーザーの費用と責任において問題を解決するものとし、弊社は一切の責任を負わず、弊社がこれに関連して被ったあらゆる費用、損失、損害を補償するものとします。
    %li ユーザーは、ユーザーが本アプリ等にコンテンツを投稿した時点で、当該コンテンツの国内外における弊社及び適切なサービス運営・提供を目的として弊社が利用許諾を付与した第三者（以下、「利用許諾第三者」といいます）の利用（コンテンツの公表、使用、コピー、修正、改変、流通、ライセンス、翻訳、転送、放送、放映することを含みますが、これに限られません。）を、無償・無期限・非独占的・譲渡可能なものとして、弊社に許諾したものとみなします。また、弊社及び利用許諾第三者が当該コンテンツを利用する際、当該コンテンツの内容（投稿時に入力したURL、レビュー内容等を含みますがそれに限られるものではありません）の変更、改変または当該コンテンツの一部の削除ないし抜粋（以下、あわせて「改変等」といいます）を行う場合があり、ユーザーはかかる改変等を弊社に許諾したものとみなします。改変等に伴い、弊社及び利用許諾第三者は地域制限、著作権表示義務、その他の付随義務を負うものではなく、また改変等に伴い改変等を行う前の当該コンテンツの内容が失われる場合があります。またかかる利用や改変等は、ユーザーに対する事前若しくは事後の通知なく行われます。
    %li 前項に基づくユーザーコンテンツの利用（改変等を含む）により、弊社が第三者よりアフィリエイト収入等の報酬を受領した場合であっても、ユーザーは弊社に対し、一切の報酬や損害の賠償を請求できないものとします。
    %li ユーザーは、本アプリ等に投稿したコンテンツについて、自由に削除を行うことができます。ただし、当該コンテンツが弊社及び利用許諾第三者によって利用されている場合、削除後も本アプリ等上に当該コンテンツが表示され続ける場合があります。
    %li 弊社はユーザーが本アプリ等を利用して投稿したユーザーコンテンツについて保存義務を負うものではなく、予告なくユーザーコンテンツを削除することがあることを予めご了承ください。
    %li 弊社及び利用許諾第三者のコンテンツ利用（改変等を含む）に際して、コンテンツに関する権利を有するユーザーは本条に具体的に記載されている場合に限らず、著作権法上の著作者人格権を行使しないものとします。上記利用に際し、ユーザーの名誉声望等が著しく侵害されている場合は、弊社までご連絡ください。
    %li ユーザーは弊社に対して、ユーザーの許可を得ることなく本アプリ等や他のメディアにてユーザーコンテンツと共に広告を掲載するあらゆる用途と場所においてユーザーコンテンツを自由に利用および使用し、編集および改変し、第三者に提供し、内容を調査し、本アプリ等および本アプリ等以外の広告宣伝活動に利用し、本アプリ等または本アプリ等以外の広告等と組み合わせて編集および掲載し、ならびに第三者にこれらを行うことを許諾するものとします。
    %li ユーザーは、第三者が権利を有するコンテンツに対し、弊社及び弊社が許諾した第三者が提供するサービス内に限り、個人使用の範囲で閲覧、アクセス、表示、保存、複写できるものとします。
    %li 弊社はユーザーコンテンツに対して、ネットワーク、機器、サービスまたはメディアにコンテンツを適合および適応させるために必要とされる変更を加えることができるものとします。

%h2 １３条　本利用規約又はその他利用規約等の違反行為に対する対応
%ol
    %li ユーザーが本利用規約又はその他の利用規約等に違反したと認められる場合その他弊社が必要と認める場合は、弊社は当該ユーザーに対し以下の各号に掲げる措置を講ずることがあります。ただし、弊社はその義務を負うものではありません。
    %ol.bracket-ordered-list
        %li (1). 本利用規約又はその他の利用規約等に対する違反行為を停止し、同様の行為を繰り返さないよう要求すること。
        %li (2). ユーザーコンテンツの訂正を要求すること。
        %li (3). ユーザーコンテンツの全部もしくは一部を削除、又は公開範囲の変更、閲覧の停止状態にすること。
        %li (4). 違反事実を開示すること。
        %li (5). 本アプリ等の利用を一時的に停止すること。
        %li (6). 強制退会処分とすること。
    %li 前項の措置によりユーザーに不利益・損害が発生した場合であっても、弊社は一切の責任を負いません。
    %li ユーザーは、弊社が本利用規約に基づいて行った第1項に定める措置に関して、異議を申し立てることはできないものとします。
    %li ユーザーの行った本利用規約又はその他の利用規約等に対する違反行為等によって弊社に損害が発生した場合、弊社が第１項の措置を講じたか否かに関わらず、弊社はそのユーザーに対して損害賠償請求をすることができ、ユーザーはこれに応じて直ちに弊社に補償するものとします。

%h2 １４条　サービスの変更等
%ol
    %li 弊社は、弊社の都合により、本アプリ等をいつでも任意の理由で変更、追加、中断、終了(以下、「本アプリ等の変更等」といいます)することができます。
    %li 弊社は、本アプリ等の変更等によりユーザーに生じたいかなる損害についても、一切の責任を負いません。

%h2 １５条　免責事項
%ol
    %li 弊社は、ユーザーコンテンツの内容に関して合法性、道徳性、信頼性、正確性を含むその他いかなる保証もいたしません。ユーザー各自の責任においてユーザーコンテンツの投稿、閲覧等を行うものとします。ユーザーによって投稿されるユーザーコンテンツが、当該ユーザーが所属する法人・団体等の内部規則等に適合することについても、一切の責任を負いません。
    %li 弊社は、ユーザーの通信や活動に関与しません。万一ユーザー間で紛争が生じた場合、当該ユーザー間で解決するものとし、弊社は一切の責任を負いません。
    %li 弊社は、投稿されたユーザーコンテンツによって生じた損害(ユーザー間でのウィルス感染被害等を含みます）について、一切の責任を負いません。
    %li 弊社は、ユーザーコンテンツの内容を監視、又は保存する義務を負いません。
    %li 弊社は、アクセス過多、その他予期せぬ理由で表示速度の低下やサービスの停止等の障害が生じた場合についても一切の責任を負いません。
    %li 本利用規約又はその他の利用規約等が消費者契約法(平成12年法律第61号)第2条第3項の消費者契約に該当し、かつ、弊社が債務不履行又は不法行為に基づき損害賠償責任を負う場合については、本利用規約及びその他の利用規約等のうち、弊社損害賠償責任を完全に免責する規定は適用されないものとします。この場合、弊社に故意又は重大な過失がある場合を除いては、弊社は、当該ユーザーが直接かつ現実に被った損害を上限として損害賠償責任を負うものとし、特別な事情から生じた損害等(損害発生につき予見し、または予見し得た場合を含む。)については責任を負わないものとします。
    %li 弊社が提供した外部サイトやコンテンツであっても、外部サイト及びコンテンツへの接続はユーザー自身の責任によって行われるものとし、それによって生じたいかなる損害についても、弊社は一切の責任を負いません。

%h2 １６条　弊社の削除権限
%ol
    %li 弊社は、次に揚げる場合には、ユーザーコンテンツの違法性・本利用規約又はその他の利用規約等の違反の有無にかかわらず、ユーザーコンテンツについて、その全部もしくは一部の削除等の措置を行うことができるものとします。ただし、弊社はこれらの措置を行う義務を負うものではありません。
    %ol.bracket-ordered-list
        %li (1). 人（実在の人物であるか否かを問わず、漫画・アニメ等のキャラクターを含みます）の裸体（着衣の全部又は一部を欠くものをいいます）を撮影・描写したユーザーコンテンツが投稿された場合
        %li (2). 公的な機関又は専門家（国、地方公共団体、特定電気通信役務提供者の損害賠償責任の制限および発信者情報の開示に関する法律のガイドラインに規定された信頼性確認団体、インターネット・ホットライン、弁護士等をいいます）から、コンテンツについて、違法、公序良俗違反又は他人の権利を侵害する等の指摘・意見表明があった場合
        %li (3). 権利者と称する者から、コンテンツが自分の権利を侵害する旨の申出があった場合
    %li 弊社は、前項の削除によってユーザーに生じたいかなる損害についても、一切の責任を負いません。

%h2 １７条　著作権に係る報告等の情報提供
%ol
    %li 弊社に対して報告や意見を有する場合、弊社指定の方法にしたがって情報を提供することができるものとします。
    %li 弊社に提供する情報の中に、第三者の機密情報を含まないでください。また、弊社は頂いた情報を秘匿する義務を有さないこととします。
    %li 提供された情報は本サービスにおけるユーザーコンテンツとみなされ、本利用規約１２条に定める方法で取り扱われるものとします。
    %li 本利用規約及びその他の利用規約等に違反する行為に対する報告に対しては、弊社はそれらを確認し、誠実に対応します。

%h2 １８条　分離可能性
%ol
    %li 本利用規約及びその他の利用規約等の一部の規定が法令に基づいて無効と判断された場合であっても、その他の規定は有効とします。
    %li 本利用規約及びその他の利用規約等の全部又は一部の規定が法令に基づいて一部のユーザーとの関係で無効と判断された場合であっても、その他のユーザーとの関係では有効とします。

%h2 １９条　準拠法及び管轄
%ol
    %li 本利用規約は日本法を準拠法とします。
    %li ユーザーと弊社の間で訴訟の必要が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。

%h2 附則
%ol
    %li 本利用規約は2013年9月6日から施行します。
    %li 本利用規約の施行前にユーザーによって行われた行為についても本利用規約が適用されます。

%h2 なりすましアカウントの報告
%p なりすましアカウントを報告される方は、以下の情報を明記した上で、メールにてご連絡ください。
%ul
    %li 有効な公的身分証明書を2つの違った角度からはっきりと撮影した写真。これらの写真を、弊社から受け取った最初のメールに直接添付して返信してください。個人情報を黒く塗りつぶして構いません。
    %li あなたの氏名
    %li あなたのメールアドレス
    %li あなたのユーザーネーム
    %li 問題のあるアカウントのユーザーネーム
    %li なりすましの証拠(関連するコメントと画像のURLなど)

%h2 年齢制限に満たないユーザーの報告
%p １３歳未満のアカウントを報告される方は、以下の情報を明記した上で、メールにてご連絡ください
%ul
    %li 当該１３歳未満のユーザーのユーザーネーム
    %li 当該１３歳未満のユーザーが１３歳未満であることを証明する身分証明書(学生証、出生証明書など)。身分証明書に記載されたお子様の名前と生年月日以外の個人情報は、黒く塗りつぶしていただいて構いません。こちらをメールに添付して弊社まで送信してください。

%h2 不適切なアカウント（スパムを含む）の報告
%p 不適切なアカウントの報告をされる方は、以下の情報を明記した上で、メールにてご連絡ください
%ul
    %li あなたのユーザーネーム
    %li 問題のあるアカウントのユーザーネーム
    %li ユーザーのアカウントに投稿された不適切な写真やコメント。画像のURLやコメントの詳細(投稿された内容と日時)を含めます。

%h2 知的所有権に関する報告
%p 知的所有権（著作権・商標権等）侵害に関する報告をされる方は、以下の情報を明記した上で、メールにてご連絡ください
%ul
    %li 報告者の氏名、住所、電話番号、メールアドレス。
    %li 侵害されたと思われる著作権、商標権またはその他の知的所有権について権利を有している権利者名。
    %li 報告者と権利者との関係。
    %li 侵害されたと思われる著作権、商標権またはその他の知的所有権の詳細。
    %li 侵害されたと思われるコンテンツがあるサイトの場所の詳細。
    %li 報告の対象であるコンテンツの使用が著作権、商標権またはその他の知的所有権の権利者、その代理人または法律によって認められていないと報告者が考える理由。





.privacy-and-terms--card
    %h4 連絡先
    %p
        メールアドレス: 
        %a.contact{:href => "mailto:support@themandc.com"} support@themandc.com