---
layout: l_landing
---

.confirm-and-thanks
    .site-width
        %h2.fadeIn-tagline Thank you!
        %p.fadeInDown-one
            We'll notify you when we launch the iPhone app.
            %br/
            Please check your inbox for confirmation.

        // Partial share buttons
        = partial "partials/share-buttons"


        // Partial footer
        = partial "partials/footer"













