---
layout: l_landing
---



.site-width
    .lp__messages
        %h2.lp__tagline.fadeIn-tagline Follow Your Interests
        %p.lp__sub-title.js-typer.fadeIn-last


        .lp--beta--field.field.fadeIn-last
            %form#mc-embedded-subscribe-form.enterEmail{:action => "http://poin.us6.list-manage.com/subscribe/post?u=9f8369c582&amp;id=dcf21991c2", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => ""}
                %label{:for => "mce-EMAIL"}
                    Receive notification when the iPhone app is ready:
                %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "Your email", :type => "email", :value => ""}/
                %button.button.button--lp{:name => "subscribe", :type => "submit"} Send




.lp--books__container.bookstand--full-width__sheet
    .bookstand--full-width
        .bookstand--full-width__scroll-it.fadeIn-last
        .bookstand--full-width__container
            .book--item__full.fadeInDown-one
                %a.book-cover__book-inner{:href => "pages/nyc.html"}
                    .book-cover__book-title 家庭料理ブック
                    .img--holder.book-cover__makeup
                        %img{:src => "images/loader_book.gif", "data-src" => "images/about/matsumoto_us.jpeg", :alt => "Brooklyn"}/

                %a.book--item--full--author{:href => ""} 
                    .book--item--full--author__icon{:style => "background-image: url(images/usericon/a.jpeg);"}
                    .book--item--full--author__job
                        %span Wine Journalist
                    .book--item--full--author__name
                        %span Nao Kohara asdfasdf

            .book--item__full.fadeInDown-two
                %a.book-cover__book-inner{:href => "pages/nyc.html"}
                    .book-cover__book-title 家庭料理ブック
                    .img--holder.book-cover__makeup
                        %img{:src => "images/loader_book.gif", "data-src" => "images/about/ny.jpeg", :alt => "Brooklyn"}/

                %a.book--item--full--author{:href => ""} 
                    .book--item--full--author__icon{:style => "background-image: url(images/usericon/b.jpeg);"}
                    .book--item--full--author__job
                        %span Wine Journalist asdfasf
                    .book--item--full--author__name
                        %span Nao Kohara



            .book--item__full.fadeInDown-three
                %a.book-cover__book-inner{:href => "pages/nyc.html"}
                    .book-cover__book-title 家庭料理ブック
                    .img--holder.book-cover__makeup
                        %img{:src => "images/loader_book.gif", "data-src" => "images/about/movie.jpeg", :alt => "Brooklyn"}/

                %a.book--item--full--author{:href => ""} 
                    .book--item--full--author__icon{:style => "background-image: url(images/usericon/c.jpeg);"}
                    .book--item--full--author__job
                        %span Wine Journalist
                    .book--item--full--author__name
                        %span Nao Kohara



            .book--item__full.fadeInDown-four
                %a.book-cover__book-inner{:href => "pages/nyc.html"}
                    .book-cover__book-title 家庭料理ブック
                    .img--holder.book-cover__makeup
                        %img{:src => "images/loader_book.gif", "data-src" => "images/about/george.jpeg", :alt => "Brooklyn"}/

                %a.book--item--full--author{:href => ""} 
                    .book--item--full--author__icon{:style => "background-image: url(images/usericon/d.jpeg);"}
                    .book--item--full--author__job
                        %span Wine Journalist
                    .book--item--full--author__name
                        %span Nao Kohara




            .book--item__full.fadeInDown-five
                %a.book-cover__book-inner{:href => "pages/nyc.html"}
                    .book-cover__book-title 家庭料理ブック
                    .img--holder.book-cover__makeup
                        %img{:src => "images/loader_book.gif", "data-src" => "images/about/cook.jpeg", :alt => "Brooklyn"}/

                %a.book--item--full--author{:href => ""} 
                    .book--item--full--author__icon{:style => "background-image: url(images/usericon/e.jpeg);"}
                    .book--item--full--author__job
                        %span Wine Journalist
                    .book--item--full--author__name
                        %span Nao Kohara



            .book--item__full.fadeInDown-six
                %a.book-cover__book-inner{:href => "pages/nyc.html"}
                    .book-cover__book-title 家庭料理ブック
                    .img--holder.book-cover__makeup
                        %img{:src => "images/loader_book.gif", "data-src" => "images/about/matsumoto_us.jpeg", :alt => "Brooklyn"}/

                %a.book--item--full--author{:href => ""} 
                    .book--item--full--author__icon{:style => "background-image: url(images/usericon/nao.jpg);"}
                    .book--item--full--author__job
                        %span Wine Journalist
                    .book--item--full--author__name
                        %span Nao Kohara




            .book--item__full.fadeInDown-seven
                %a.book-cover__book-inner{:href => "pages/nyc.html"}
                    .book-cover__book-title 家庭料理ブック
                    .img--holder.book-cover__makeup
                        %img{:src => "images/loader_book.gif", "data-src" => "images/about/nail.jpeg", :alt => "Brooklyn"}/

                %a.book--item--full--author{:href => ""} 
                    .book--item--full--author__icon{:style => "background-image: url(images/usericon/nao.jpg);"}
                    .book--item--full--author__job
                        %span Wine Journalist
                    .book--item--full--author__name
                        %span Nao Kohara
    // Start footer from here
    .fadeIn-last
        = partial "partials/footer"
    













