---
layout: l_landing
---

.confirm-and-thanks
    .set-width
        %h2.fadeIn-tagline Awesome!
        %p.fadeInDown-one
            We've just confirmed your email address.
            %br/
            Share & get early access!


        // Partial share buttons
        = partial "partials/share-buttons"


        // Partial footer
        = partial "partials/footer"






